<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Exchange</title>
		<link href="styles/main.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet" type="text/css">
	</head>
	<body>
		<table align="center">
            <tbody>
                <tr id='head'>
                    <th class="header">Currency</th>
                    <th class="header">Buy</th>
                    <th class="header">Sell</th>
                </tr>
                <%for(let row in rows){%>
                    <% const { name, buy, sell } = rows[row] %>
                    <% let bcgr = row%2 === 1 ? null : "#ebe7e7" %>
                    <!-- <%=bcgr%> -->
                    <tr style="background: <%=bcgr%>" class="currency" id="<%=name%>">
                        <td><img src="/images/<%=name%>.png"><%=name%></td>
                        <td><div class="<%=name%> buy" onclick="makeEditable(this)"><%=buy%></div></td>
                        <td><div class="<%=name%> sell" onclick="makeEditable(this)"><%=sell%></div></td>
                    </tr>
                <%}%>
            </tbody>
		</table>
    <script type="text/javascript" src="./scripts/main.js"></script>
	</body>
</html>
